.meram-container {
  overflow-x: hidden;
}

.meram-heykel {
  position: relative;
  width: 100%;
  height: 35vh;
  background-image: linear-gradient(
      180deg,
      #000000 -112.64%,
      rgba(0, 0, 0, 0) 100%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url("../Rayonlar/assets/heykel.jpg");
  background-size: cover;
  /* background: linear-gradient(180deg, #000000 -112.64%, rgba(0, 0, 0, 0) 76.08%, rgba(0, 0, 0, 0.1) 76.08%); */
}
.meram-az {
  position: fixed;
  /* width: 24px;
  height: 22px; */
  right: 125px;
  top: 35px;

  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;
  font-size: 1.0416666666666667vw;

  text-transform: uppercase;

  color: #fff;
}
.meram-hamburger {
  position: absolute;
  /* width: 42px;
  height: 16px; */
  width: 2.734375vw;
  height: 2.1220159151193636vh;

  right: 50px;
  top: 50px;

  z-index: 1;
  /* right: 3.2552083333333335vw;
  top: 7.427055702917772vh; */

  /* margin: 2em 0 0 2em; */
  /* margin-left: 8%;
  margin-top: 2%; */
}

.meram-hamburger div {
  /* height: 2px; */
  height: 0.26525198938992045vh;
  background: #fff;
  /* margin: 2px 0; */
  margin: 0.26525198938992045vh 0;
  /* border-right: 24px; */
  transition: 0.3s;
}

.meram-one {
  /* width: 50px; */
  /* width: 3.2552083333333335vw; */
  width: 2.734375vw;
  float: right;
}

.meram-two {
  /* width: 40px; */
  /* width: 2.6041666666666665vw; */
  width: 2.4739583333333335vw;
  float: right;
}
.meram-three {
  /* width: 30px; */
  /* width: 1.953125vw; */
  width: 2.2135416666666665vw;
  float: right;
}

.meram-hamburger:hover div {
  /* width: 50px; */
  width: 3.2552083333333335vw;
}

.meram-logo {
  position: absolute;
  /* width: 250.36px; */
  /* height: 49px; */
  width: 16.276041666666668vw;
  /* height: 6.49867374005305vh ; */
  left: 50px;
  top: 40px;
  z-index: 2;
  cursor: pointer;
}

.meram-responsive {
  /* background-color: red; */
  /* height: 65vh; */
  margin-left: 7.5%;
  margin-right: 42.5%;
}

.meram-rayonlar {
  font-size: 0.9765625vw;
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;

  /* identical to box height, or 108% */

  color: #3a3d3f;
}
.meram-sub-rayonlar {
  font-size: 1.6927083333333333vw;
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;

  /* identical to box height, or 108% */

  color: #3a3d3f;
}
.meram-p {
  /* width: 658px; */

  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9114583333333334vw;
  /* line-height: 26px; */
  /* or 186% */

  color: #3a3d3f;
}

.meram-arrow {
  padding-top: 40px;
}

.meram-p ul {
  list-style-type: none;
}

.meram-p ul li {
  font-weight: bold;
  margin-bottom: 10px;
}
